body{
font-family: "Roboto", Tahoma, sans-serif;
color: #212121;
background-color: #E5E5E5;}
.list{
    list-style: none;
}
a{
 text-decoration: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* -----------HEADER------------*/
.header-logo{
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.9;
letter-spacing: 0.03em;
color:  #000000;
}
.span{
    color: #2196F3;
}
.header{
background-color: #FFFFFF;
}

.header-navigation{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}

.header-item :hover,
.header-item :focus{
  color: #2196F3;
}
/* не получается отобразить текст серым (
     может потому что по умолчанию цвет посещенной свылки фиолетовый? */
.contacts-list-grey {
    color: #757575;}
.contacts-list :hover,
.contacts-list :focus{
  color: #2196F3;
}


/* -----------HERO------------*/
.hero{
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
color: #FFFFFF;
background-color: #2F303A;
}
.btn-about-service{
font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
color: #FFFFFF;
background-color: #2196F3;
}
.btn-about-service :hover,
.btn-about-service :focus{
  color: #2196F3;
}
/* -----------MAIN------------*/
